@import "base";
@import "header";

#start{
  background: $color-1;
  height:100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-2;
  font-size: $font-xxl;
}
.footer{
  background: $brand-color;
  text-align: center;
}
